@use "sass:math";

@mixin breakpoint($screen) {
  @media screen and (min-width: map-get($map: $breakpoints, $key: $screen)) {
    @content;
  }
}

@mixin font-size-rem($font-size) {
  font-size: #{math.div($font-size, $base-fontSize)}rem;
}

@mixin line-height-percent($font-size, $line-height) {
  $precision: 100000;

  line-height: math.div(round(math.div($line-height, $font-size) * $precision), $precision);
}

@mixin font-headline-1 {
  @include font-size-rem(40);
  @include line-height-percent(40, 40);
  font-weight: bold;
  letter-spacing: -0.006em;
}

@mixin font-headline-2 {
  @include font-size-rem(32);
  @include line-height-percent(32, 40);
  font-weight: bold;
}

@mixin font-body {
  @include font-size-rem(16);
  @include line-height-percent(16, 15);
}

@mixin font-body-small {
  @include font-size-rem(14);
  @include line-height-percent(14, 15);
  font-weight: 300;
}
