@use "sass:math";

@mixin breakpoint($screen) {
  @media screen and (min-width: map-get($map: $breakpoints, $key: $screen)) {
    @content;
  }
}

@mixin font-size-rem($font-size) {
  font-size: #{math.div($font-size, $base-fontSize)}rem;
}

@mixin line-height-percent($font-size, $line-height) {
  $precision: 100000;

  line-height: math.div(round(math.div($line-height, $font-size) * $precision), $precision);
}

@mixin font-headline-1 {
  @include font-size-rem(48);
  @include line-height-percent(48, 58);
  font-weight: bold;
  letter-spacing: -0.006em;
}

@mixin font-headline-2 {

}

@mixin font-headline-3 {

}

@mixin font-headline-4 {

}

@mixin font-body-large {

}

@mixin font-body {

}

@mixin font-body-small {

}