.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.cursor-pointer {
  user-select: none;
  cursor: pointer;
}