$base-fontFamily: "Montserrat", Helvetica, Arial, sans-serif;
$base-fontSize: 16; //px
$base-lineHeight: 1.875rem;

$color-bg: #f1f3f6;
$color-white: #ffffff;
$color-primary: #202f4d;
$color-secondary: #fe9263;
$color-border: #d1dce4;
$color-warning: #eb4040;

$color-blue1: lighten($color-primary, 30%);

$spacing-root-value: 8; //px

$breakpoints: (
  tablet: 768px,
  desktop: 992px,
  largeScreen: 1200px,
);
