body {
  font: 400 rem(14) $base-fontFamily;
  color: $color-primary;
  line-height: $base-lineHeight;
  font-weight: 400;
  background-color: $color-bg;
  @media (min-width: 1025px) {
    font-size: rem($base-fontSize);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  @include font-headline-1;
}

h2 {
  @include font-headline-2;
}
